{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Add Article{% endblock %}

{% block body %}
<div class="container">
  {# Fonctions TWIG pour les formulaires : https://symfony.com/doc/4.1/reference/forms/twig_reference.html #}
  {{ form_start(form) }}
  {{ form_row(form.title) }}
  {{ form_row(form.content) }}
  {{ form_row(form.picture) }}
  {{ form_row(form.categories) }}
  {% if editMode %}
    <button class="btn btn-primary" type="submit">Modifier</button>
  {% else %}
    <button class="btn btn-primary" type="submit">Enregistrer</button>
  {% endif %}
  {{ form_end(form) }}
</div>
{% endblock %}