{% extends 'base.html.twig' %}

{% block title %}Add Category{% endblock %}

{% block body %}
<div class="container">
  {# Fonctions TWIG pour les formulaires : https://symfony.com/doc/4.1/reference/forms/twig_reference.html #}
  {{ form_start(form, {'attr': {'class': 'row'}}) }}
  <div class="col form-group">
    {{ form_widget(form.label, {'attr': {'class': 'form-control', 'placeholder': 'Label de la catégorie'} }) }}
    {{ form_label(form.label) }}
  </div>

  <div class="col">
    <button class="btn btn-primary" type="submit">Enregistrer</button>
  </div>
  {{ form_end(form) }}
</div>
{% endblock %}