{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  {# <h1>Voici la liste des articles, vous êtes dans la page {{ page }}</h1> #}
  {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}
  <div class="row">
  {% for article in pagination %}
    {# Refaire avec des cards bootstrap #}
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="{{ article.picture }}" alt="">
        <div class="card-body">
          <h4 class="card-title">{{ article.title }}</h4>
          <p class="card-text">{{ article.content|slice(1, 50) }}</p>
        </div>
        <div class="card-footer">
          <ul>
          {% for category in article.categories %}
            <li>{{ category.label }}</li>
          {% endfor %}
          </ul>
          <a class="btn btn-primary" href="{{ path("article_edit", {'id': article.id}) }}">Editer</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <div class="navigation">
    {{ knp_pagination_render(pagination) }}
  </div>
  {# {% if page > 1 %}
  <button onclick="window.location.href = '/blog/{{ page - 1 }}';">Précédent</button>
  {% endif %}
  <button onclick="window.location.href = '/blog/{{ page + 1 }}';">Suivant</button> #}
</div>
{% endblock %}