{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}
<div class="container">
    <div id="contactForm" class="mt-4">
        {{ 'Symfony is great'|trans }}
        {% trans %}Symfony is great{% endtrans %}
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col">{{ form_row(form.firstname) }}</div>
                <div class="col">{{ form_row(form.lastname) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form_row(form.email) }}</div>
                <div class="col">{{ form_row(form.phone) }}</div>
            </div>
            {{ form_rest(form) }}
            <div class="form-group">
                <button class="btn btn-primary">Envoyer</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
